[Unit]
Description=Build static site {{ hugo_repo }}

[Service]
Type=simple
WorkingDirectory={{ hugo_dir }}/{{ hugo_root }}
ExecStart=/usr/bin/hugo -w {{ '-D' if hugo_render_drafts else '' }} {{ '-F' if hugo_render_future else '' }} {{ '--minify' if hugo_minify else '' }} {{ ('--baseURL=' + hugo_base_url) if hugo_base_url != '' else '' }}
User={{ hugo_user }}
Group={{ hugo_user }}
